<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="${pageContext.request.contextPath}/admin/actrl/liste">Accueil</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
			
				
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">Catégories<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="${pageContext.request.contextPath}/admin/catctrl/displayAddCat">Ajouter</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="${pageContext.request.contextPath}/admin/catctrl/displayUpdateCat">Modifier</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="${pageContext.request.contextPath}/admin/catctrl/displayDeleteCat">Supprimer</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="${pageContext.request.contextPath}/admin/catctrl/displaySearchCat">Rechercher</a></li>
						
					</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">Produits<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="${pageContext.request.contextPath}/admin/prodctrl/displayAddProd">Ajouter</a></li>
						<li role="separator" class="divider"></li>
				<li><a href="${pageContext.request.contextPath}/admin/prodctrl/displayUpdateProd">Modifier</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="${pageContext.request.contextPath}/admin/prodctrl/displayDeleteProd">Supprimer</a></li>
				<li role="separator" class="divider"></li>					
				<li><a href="${pageContext.request.contextPath}/admin/prodctrl/displaySearchProdByCat">Recherche par catégorie</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="${pageContext.request.contextPath}/admin/prodctrl/displaySearchProdByName">Recherche par nom</a></li>
					</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">Commandes<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="${pageContext.request.contextPath}/admin/displayAddCom">Ajouter</a></li>
						<li role="separator" class="divider"></li>
				<li><a href="${pageContext.request.contextPath}/admin/displayUpdateCom">Modifier</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="${pageContext.request.contextPath}/admin/displayDeleteCom">Supprimer</a></li>
				<li role="separator" class="divider"></li>					
				<li><a href="${pageContext.request.contextPath}/admin/displaySearchIDCom">Recherche par ID</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="${pageContext.request.contextPath}/admin/displaySearchDateCom">Recherche par date</a></li>
						
					</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">Clients<span class="caret"></span></a>
					<ul class="dropdown-menu">
							<li><a href="${pageContext.request.contextPath}/admin/displayAddCl">Ajouter</a></li>
							<li role="separator" class="divider"></li>
				<li><a href="${pageContext.request.contextPath}/admin/displayUpdateCl">Modifier</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="${pageContext.request.contextPath}/admin/displayDeleteCl">Supprimer</a></li>
				<li role="separator" class="divider"></li>					
				<li><a href="${pageContext.request.contextPath}/admin/displaySearchIDCl">Recherche par ID</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="${pageContext.request.contextPath}/admin/displaySearchNameCl">Recherche par Nom</a></li>
						
					</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">Lignes de Commandes<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="${pageContext.request.contextPath}/admin/displayAddLC">Ajouter</a></li>
						<li role="separator" class="divider"></li>
				<li><a href="${pageContext.request.contextPath}/admin/displayUpdateLC">Modifier</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="${pageContext.request.contextPath}/admin/displayDeleteLC">Supprimer</a></li>					
				
					</ul></li>
					
						<li><a href="${pageContext.request.contextPath}/deconnexion">Se
		déconnecter</a></li>
			</ul>
		
			
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

