<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
	pageEncoding="ISO-8859-1"%>

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>

<!--  ajouter Bootstrap -->
<!--  ajouter Bootstrap -->
<link rel="stylesheet"
	href="${pageContext.request.contextPath}/assets/css/bootstrap.css">

</head>
<body>


<nav class="navbar navbar-inverse">

	<ul class="nav nav-pills">
		<li role="presentation"><a
			href="${pageContext.request.contextPath}/ectrl/liste">Accueil</a></li>
		<li role="presentation"><a
			href="${pageContext.request.contextPath}/ectrl/displayAdd">Ajout</a></li>
		<li role="presentation"><a
			href="${pageContext.request.contextPath}/ectrl/displayUpdate">Modifier</a></li>
		<li role="presentation"><a
			href="${pageContext.request.contextPath}/ectrl/displayFind">Rechercher</a></li>
		<li role="presentation"><a
			href="${pageContext.request.contextPath}/ectrl/displaySupp">Supprimer</a></li>
	</ul>
</nav>



<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand"
						href="${pageContext.request.contextPath}/admin">Accueil</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Catégorie<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a
									href="${pageContext.request.contextPath}/admin/displayAdd">Ajouter</a></li>
								<li role="separator" class="divider"></li>
								<li><a
									href="${pageContext.request.contextPath}/admin/displayUpdate">Modifier</a></li>
								<li role="separator" class="divider"></li>
								<li><a
									href="${pageContext.request.contextPath}/admin/displayDelete">Supprimer</a></li>
								<li role="separator" class="divider"></li>
								<li><a
									href="${pageContext.request.contextPath}/admin/displaySearch">Rechercher par Nom</a></li>
							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Produits <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="${pageContext.request.contextPath}/admin/displayAdd">Ajouter</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="${pageContext.request.contextPath}/admin/displayAdd">Modifier</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="${pageContext.request.contextPath}/admin/displayAdd">Supprimer</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="${pageContext.request.contextPath}/admin/displayAdd">Rechercher par catégorie</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="${pageContext.request.contextPath}/admin/displayAdd">Rechercher par nom</a></li>
							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Commandes <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="${pageContext.request.contextPath}/admin/displayAdd">Ajouter</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="${pageContext.request.contextPath}/admin/displayAdd">Modifier</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="${pageContext.request.contextPath}/admin/displayAdd">Supprimer</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="${pageContext.request.contextPath}/admin/displayAdd">Rechercher par ID</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="${pageContext.request.contextPath}/admin/displayAdd">Rechercher par Date</a></li>
							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Clients <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="${pageContext.request.contextPath}/admin/displayAdd">Ajouter</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="${pageContext.request.contextPath}/admin/displayAdd">Modifier</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="${pageContext.request.contextPath}/admin/displayAdd">Supprimer</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="${pageContext.request.contextPath}/admin/displayAdd">Rechercher par ID</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="${pageContext.request.contextPath}/admin/displayAdd">Rechercher par Nom</a></li>
							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Lignes de commande<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="${pageContext.request.contextPath}/admin/displayAdd">Ajouter</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="${pageContext.request.contextPath}/admin/displayAdd">Modifier</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="${pageContext.request.contextPath}/admin/displayAdd">Supprimer</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="${pageContext.request.contextPath}/admin/displayAdd">Rechercher par ID</a></li>
							</ul></li>
				
					</ul>
					<form class="navbar-form navbar-left">
						<div class="form-group"></div>
						<button type="submit" class="btn btn-default">Submit</button>
						<a href="<c:url value='/admin/gestion'/>">Se Connecter</a>
					</form>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>
</nav>

</body>
</html>