<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>ECommerce_SpringMVCIoCHibernate</display-name>

	<!-- déclaration de la page de lancement de mon projet -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- ============================================= -->

	<!-- déclaration du listener pour charger le context de spring IoC -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- spécifier le chemin du fichier de coçnfig de spring IoC afin que le 
		conteneur le charge -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/application-context.xml</param-value>
	</context-param>

	<!-- ============================================= -->

	<!-- déclaration de la servlet unique de spring mvc: dispatcherservlet -->
	<servlet>
		<servlet-name>mvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<!-- spécifier le chemin du fichier de config du context spring mvc afin 
			de la charger lors de l'instanciation de la servlet DispatcherServlet -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/mvc-context.xml</param-value>
		</init-param>
	</servlet>

	<!-- mapping de la servlet unique de spring mvc -->
	<servlet-mapping>
		<servlet-name>mvc</servlet-name>
		<url-pattern>/</url-pattern>
		<!-- toutes les requetes passent par la servlet unique de spring mvc"/" -->
	</servlet-mapping>

	<!-- ============================================= -->

	<!-- déclaration du filtre pour la sécurité -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<!-- le mapping du filtre de sécurité pour toutes les requetes passent par 
		ce filtre -->
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- spécifier le chemin du fichier de coçnfig de spring IoC et spring security 
		afin que le conteneur le charge -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/application-context.xml /WEB-INF/security-context.xml</param-value>
	</context-param>

</web-app>